@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@1,700&display=swap');

body {
    background-color: #90d9f6;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Alegreya SC', serif;
    font-size: 60px;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

.header {
    margin: 40px 20px 0;
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    font-size: 0;
    font-family: sans-serif;
    line-height: 45px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    z-index: 1;
}

li {
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.logo > img {
    width: 15%;
}

.navbar {
    width: 60%;
    text-align: left;
    color: #025157;
    font-weight: 500;
    color: #025157;
}

.navbar li {
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;    
}

.main {
    margin-top: 285px;
    text-align: center;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.publish {
    /* container styles if any */
    margin-left: 30px;
}
  
.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}
  
.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}
  
.publish > form {
    display: flex;
}
  
.publish > form p {
    color: #025157;
    margin-right: 18px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}

.growing {
    display: flex;
    background-color: #a1d683;
    align-items: center;
    justify-content: space-around;
    padding: 5% 15%;
    margin: 100px auto;
}

.ecommerce {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
}

.ecommerce h1 {
    margin-bottom: 10px;
}

.ecommerce p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ecommerce button {
    align-self: start;
}

.ecommerce img {
    width: 500px;
}

.caseStudy {
    background-color: #fff;
    position: relative;
}

.company img {
    position: absolute;
    bottom: 260px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-color: #f5d364;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;  
}

.caseStudy h2 {
    margin-left: 10%;
}

.caseStudy p {
    font-size: 20px;
    color: #343434;
    line-height: 1.5;
    margin: 20px 10%;
}

.caseStudy form p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 16px;
    margin: 20px 10%;

}

.caseStudy button {
    width: 80%;
    margin: 10px 10%;
}

.features {
    background-color: #025157;
    display: grid;
    height: 660px;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    padding: 5% 10%; 
}

.feature {
    background-color: #fff;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    overflow: hidden;
    align-items: center;  
}

.feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.feature-content h3 {
    font-size: x-large;
}

.feature-content p {
    font-size: 16px;
}

.feature-content img {
    width: 50px;
}

.feature-content a {
    color: #67b54b;
    text-decoration: none;
    font-weight: 600;
}

.feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}

.feature-image figure,
.feature-image img {
    margin-top: 0;
    height: 100%;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px){
    .navbar,
    .actions {
        display: none;
    }

    h1 {
        font-size: 30px;
    }

    .main {
        margin-top: 120px;
    }
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {

}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {

}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {

}