@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@1,700&display=swap');

body {
    background-color: #90d9f6;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Alegreya SC', serif;
    font-size: 60px;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

.header {
    margin: 40px 20px 0;
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    font-size: 0;
    font-family: sans-serif;
    line-height: 45px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    z-index: 1;
}

li {
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.logo > img {
    width: 15%;
}

.navbar {
    text-align: center;
    color: #025157;
    font-weight: 500;
    color: #025157;
    background-color: #fffbf7;
}

.navbar li {
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}

.actions {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;    
}

.main {
    margin-top: 285px;
    text-align: center;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.publish {
    /* container styles if any */
    margin-left: 30px;
}
  
.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}
  
.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}
  
.publish > form {
    display: flex;
}
  
.publish > form p {
    color: #025157;
    margin-right: 18px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

iframe {
    display: flex;
    margin: auto;
    width: 560px;
    height: 315px;
  }

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}

.growing {
    display: flex;
    background-color: #a1d683;
    align-items: center;
    justify-content: space-around;
    padding: 5% 15%;
    margin: 100px auto;
}

.ecommerce {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
}

.ecommerce h1 {
    margin-bottom: 10px;
}

.ecommerce p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ecommerce button {
    align-self: start;
}

.ecommerce img {
    width: 500px;
}

.caseStudy {
    background-color: #fff;
    position: relative;
}

.company img {
    position: absolute;
    bottom: 260px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-color: #f5d364;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;  
}

.caseStudy h2 {
    margin-left: 10%;
}

.caseStudy p {
    font-size: 20px;
    color: #343434;
    line-height: 1.5;
    margin: 20px 10%;
}

.caseStudy form p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 16px;
    margin: 20px 10%;

}

.caseStudy button {
    width: 80%;
    margin: 10px 10%;
}

.features {
    background-color: #025157;
    display: grid;
    height: 660px;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    padding: 5% 10%; 
    margin-top: 5%;
}

.feature {
    background-color: #fff;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    overflow: hidden;
    align-items: center;  
}

.feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.feature-content h3 {
    font-size: x-large;
}

.feature-content p {
    font-size: 16px;
}

.feature-content img {
    width: 50px;
}

.feature-content a {
    color: #67b54b;
    text-decoration: none;
    font-weight: 600;
}

.feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}

.feature-image figure,
.feature-image img {
    margin-top: 0;
    height: 100%;
}

.HowWorks {
    background-color: #fffbf7;
    text-align: center;
    padding: 5% 10%;
}

.HowWorks-Header h2 {
    font-size: 50px;
    color: #025157;
    padding-bottom: 5px;
}

.HowWorks-Cards {
    margin-top: 30px;
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    text-align: left;  
}

.HowWorks-content {
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #dadada;
    border-radius: 5px;
    background-color: #fff;  
    padding: 5%;
}

.HowWorks-content figure {
    height: 130px;

}

.HowWorks-content figure > img {
    width: 100%;
    vertical-align: middle;
}

.success-stories {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.success-stories .overview {
    flex: 2;
    padding-right: 100px;
}
  
.success-stories .overview h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}
  
.success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}
  
.success-stories .overview button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}
  
.success-stories .overview img {
    width: 500px;
    max-width: 100%;
}
  
  /* Cambiamos el alto mínimo de la tarjeta, para que se vea bien en responsive */
.success-stories .card {
    max-width: 370px;
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
}
  
  /* Con object-fit, hacemos que la imagen se ajuste a la medida de su contenedor y limitamos su alto */
.success-stories .card img {
    max-height: 30vh;
    object-fit: cover;
}
  
  /* Agregamos position: relative para recibir un elemento con position:absolute más adelante */
.success-stories .card .card-body {
    max-width: 370px;
    width: 100%;
    position: relative;
    padding: 40px 1rem 1rem;
}
  
  /* Estos son los estilos para textos y acomodo de elementos */
.success-stories .card .card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    font-family: "Slabo 27px", serif;
}
  
.success-stories .card .card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
  
.success-stories .card .card-body .results {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
.success-stories .card .card-body .results img {
    width: 26px;
    margin-right: 20px;
}
  
.success-stories .card .card-body .results p {
    margin: 0;
}
  
.success-stories .card .card-footer button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
    background-color: #025157;
    color: #fff;
    border: none;
}
  
.success-stories .card .card-footer {
    background-color: #ffffff;
    color: #fff;
    border: none;
}
  
/* Aqui hacemos un círculo con CSS! Este se posicionará en el margen superior de .card-body */
.success-stories .card .card-body .card-circle {
    display: flex;
    align-items: center;
    position: absolute;
    top:-45px;
    right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 5px;
  }
  
  /* Cada círculo tiene su propio color. Verifica qué significa este selector: .card-circle.everly */
  .success-stories .card .card-body .card-circle.everly {
    background-color: #f9da73;
    border: 5px solid #f9da73;
  }
  
  .success-stories .card .card-body .card-circle.summit {
    background-color: #81d742;
    border: 5px solid #81d742;
  }
  
  .success-stories .card .card-body .card-circle.mambe {
    background-color: #ef7179;
    border: 5px solid #ef7179;
  }
  
  /* Los círculos deben recibir la imagen y ajustarla al tamaño */
  .success-stories .card .card-body .card-circle.everly img,
  .success-stories .card .card-body .card-circle.summit img,
  .success-stories .card .card-body .card-circle.mambe img {
    object-fit: contain;
    width: 100%;
  }

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px){
    /*.navbar,
    .actions {
        display: none;
    }*/

    h1 {
        font-size: 30px;
    }

    .main {
        margin-top: 130px;
    }

    .banner > img {
        width: 100%;
    }

    .publish > form {
        flex-direction: column;
    }

    .publish > form > div {
        height: 50px;
        margin-top: 10px;
    }

    .publish > form > div > input {
        width: 65%;
    }

    .promo {
        flex-direction: column;
        max-width: 90%;
    }
    
    .explanatory-video > video {
        width: 100%;
    }

    .publish {
        margin-top: 10px;
    }

    .publish > h3 {
        font-size: 25px;
        line-height: 1.2;
    }

    iframe{
        width: 100%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
        height: 100%;
    }

    .feature-image {
        display: none;
    }
    
    .success-stories {
        flex-direction: column;
      }

}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {

}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {

    .success-stories {
        flex-direction: column;
        padding: 5% 15px;
    }

}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {

}